.container {
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;
  }
  

  .imageBox {
    flex: 1;
    max-width: 480px;
    height: 60vh;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imageBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cartimgbot{
    width: 60%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartimgbot img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .cartfont{
    font-size: 20px;
    margin-block: 5px;
  }
  .cartinfo{
    width: 40%;
  }
  
  .info {
    flex: 1.2;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #111;
  }
  
  .ratingRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .count {
    font-size: 14px;
    color: #444;
  }
  
  .price {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
  }
  
  .desc {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
  }
  
  .btn {
    width: 220px;
    padding: 14px 0;
    background: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition:all .2s;
  }
  
  .btn:hover {
    background: #c7a246;
    transform: scale(1.03);
  }
  
  
  
 
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
      padding: 25px;
      text-align: center;
    }
  
    .imageBox {
      
      margin: auto;
      margin-bottom: 25px;

    }
  
    .info {
      align-items: center;
      margin: auto;
    }
  
    .title {
      font-size: 22px;
    }
  
    .price {
      font-size: 24px;
    }
  
    .btn {
      width: 70%;
    }
  }
  
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
      gap: 20px;
    }
  
    .imageBox {
        margin: auto;
      max-width: 300px;
      padding: 12px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .desc {
      font-size: 14px;
    }
  
    .price {
      font-size: 22px;
    }
  
    .btn {
      width: 100%;
      font-size: 15px;
      padding: 12px 0;
    }
  }
  
  

  @media (max-width: 400px) {
    .container {
      padding: 15px;
    }
  
    .imageBox {
      max-width: 260px;
      margin: auto;
    }
  
    .title {
      font-size: 18px;
    }
  
    .price {
      font-size: 20px;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px 0;
    }
  }
  
  /* deactivate */
  .deactivate{
    display: none;
  }
  .forremove{
    display: block;
  }