.row {
  width: 88%;
  margin: -7% auto;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 2.8rem;                 
  padding: 1.5rem 1rem;
  justify-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* -------------------- CARD -------------------- */
.card {
  width: 100%;
  max-width: 300px;           
  z-index: 6;
  border-radius: 12px;
  text-decoration: none;
  background-color: white;
  color: #111;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

/* -------------------- TITLE -------------------- */
.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

/* ---------------- IMAGE WRAPPER ---------------- */
.imgWrapper {
  width: 100%;
  height: 150px;               
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0.8rem;
}

/* ----------------- IMAGE ------------------------- */
.image {
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;  
}

/* ---------------- SHOP NOW ---------------- */
.card p {
  margin-top: auto;
  font-size: 0.85rem;
  font-weight: 600;
  color: #0078ff;
  text-transform: lowercase;
}

/* ---------------- RESPONSIVE --------------- */
@media (max-width: 600px) {
  .row {
    margin: -12% auto;
  }
  .card {
    max-width: 220px;
  }

  .imgWrapper {
    height: 140px;
  }

  .title {
    font-size: 1rem;
  }
}
@media(max-width: 400px) {
  .row {
    margin: -25% auto;
  }
}
